doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js', type='text/javascript')
    script(src='/javascripts/application.js', type='text/javascript')

    meta(name='description', content='Sleepyti.me is a bedtime calculator that can help you calculate when to fall asleep. By counting backwards in sleep cycles, sleepyti.me has the ability to help you wake up refreshed, instead of feeling groggy. Sleepyti.me can also help you figure out what time to set your alarm if you are going to sleep at that moment.')
    meta(name='keywords', content='sleep, refreshed, sleeping, health, bedtime, bed, bed time, calculator, ajax, javascript')

    meta(name='viewport', content="width=device-width, initial-scale=1.0")
  body
    block content