extends layout

block content
    .container
        #title
            h1 Sleepy Time 
                span bedtime calculator
        #inner-wrap
            
            #result-text
                include knockout

        include footer