extends layout

block content
    .container
        #title
            h1 Sleepy Time 
                span bedtime calculator
        #inner-wrap
            
            #result-text
                include knockout
        script(type='text/javascript')
            Sleepy.nowCallback();
        include footer