body {
    background: #eee;
}

.container {
    background: white;
    padding: 0;
    box-shadow: 0 1px 16px -5px rgba(0, 0, 0, 0.5);
}

#title {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin: 0 0 40px;
    //background: #333;

    h1 {
        //color: white;
    }
}

.prompt {
    padding: 20px;

    .text {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
        padding: 20px 0;
    }
}