@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic");
body {
  background: white;
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
}
body .fb-like {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.container {
  padding: 0;
}
@media (min-width: 481px) {
  .container #inner-wrap {
    background: #f3f2f0;
    padding: 30px;
    margin: 0 -30px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.container #dropdown-hours select,
.container #dropdown-hours button {
  margin: 0 5px 0 0;
}
.container footer {
  padding: 20px 0;
}
.container footer p {
  color: #888;
  font-size: 15px;
}
.container footer p a {
  color: #555;
}
.container footer p a:hover {
  color: black;
  text-decoration: none;
}
#title {
  font-family: "Lato", sans-serif;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  margin: 0 0 40px;
}
#title h1 span {
  font-weight: 500;
}
.prompt {
  padding: 20px;
}
.prompt .text {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  padding: 20px 0;
}
#wake-up-when {
  text-align: center;
}
#result-text {
  padding: 20px;
}
#result-text p {
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 480px) {
  body {
    padding: 0;
  }
  #title {
    padding: 15px 0;
    margin: 0;
  }
  #title h1 {
    font-size: 21px;
    text-align: center;
    line-height: 23px;
    margin: 0;
  }
  #dropdown-hours select,
  #dropdown-hours button {
    display: block;
    width: 100%;
  }
  #github-fork {
    display: none;
  }
}
.intensity.bw-1 {
  color: #00cc33;
}
.intensity.bw-2 {
  color: #00b32d;
}
.intensity.bw-3 {
  color: #009926;
}
.intensity.bw-4 {
  color: #008020;
}
.intensity.bw-5 {
  color: #00661a;
}
.intensity.wb-1 {
  color: #004d13;
}
.intensity.wb-2 {
  color: #00661a;
}
.intensity.wb-3 {
  color: #008020;
}
.intensity.wb-4 {
  color: #009926;
}
.intensity.wb-5 {
  color: #00b32d;
}
.intensity.wb-6 {
  color: #00cc33;
}
